body {
  background: azure;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: column;
  background-color: darkslategray;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: azure;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}
.order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: column;
  background-color: darkslategray;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: azure;
  text-transform: uppercase;
  list-style: none;
}
.order h1 {
  font-size: xxx-large;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.order li {
  font-size: x-large;
  list-style: decimal;
  margin: 20px;
}

.content h1 {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.content .container .timer {
  font-weight: 800;
}
p {
  font-size: xx-large;
}
.container p text {
  font-size: 200%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.start {
  cursor: pointer;
  background-color: darkcyan;
  color: azure;
  font-size: xx-large;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
button {
  cursor: pointer;
  background-color: darkcyan;
  color: azure;
  font-size: x-large;
  font-weight: 500;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
button#clear-hs {
  cursor: pointer;
  background-color: darkslategrey;
  color: azure;
  font-size: x-large;
  font-weight: 500;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

button#clear-hs:hover {
  background-color: rgb(70, 168, 168);
  color: azure;
}
button#go-back {
  cursor: pointer;
  background-color: darkslategrey;
  color: azure;
  font-size: x-large;
  font-weight: 500;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

button#go-back:hover {
  background-color: rgb(70, 168, 168);
  color: azure;
}
button:hover {
  background-color: rgb(70, 168, 168);
  color: azure;
}
.text {
  font-size: x-large;
}
.hide {
  display: none;
}

.info_box {
  display: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  background: darkslategray;
  color: azure;
  border-radius: 5px;
  padding: 20px azure;
}
.info_box .info-title {
  height: 60px;
  align-items: center;
  padding: 0 35px;
  font-size: 40px;
  font-weight: 600;
}

.info_box .info-list {
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  display: column;
}
.info_box .info-list .info {
  margin: 5px 0;
  font-size: 17px;
}
.info_box .info-list .info span {
  font-weight: 600;
  color: rgb(73, 212, 212);
  font-size: 120%;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  background-color: rgb(9, 24, 24);
  border-radius: 5px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  list-style: none;
}
ul li:hover {
  background-color: lightblue;
  color: navy;
  cursor: pointer;
}

.info_box .buttons .quit {
  cursor: pointer;
  background-color: azure;
  color: darkcyan;
  font-size: x-large;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.info_box .buttons .quit:hover {
  background-color: darkcyan;
  color: azure;
}
.info_box .buttons .restart {
  cursor: pointer;
  background-color: darkcyan;
  color: azure;
  font-size: x-large;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.info_box .buttons .restart:hover {
  background-color: rgb(0, 94, 94);
  color: azure;
}

.start-page a {
  text-decoration: none;

}
.start-page p {
  position: relative;
  cursor: pointer;
  color: azure;
  background-color: darkcyan;
  font-size: x-large;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
 
}
.start-page p:hover {
  background-color: rgb(70, 168, 168);
  color: azure;
}
